{% load staticfiles %}
<!-- load static files is used to load the contents of a site which remain static (favicon, background-image, etc.) -->
<!-- This is home page of our webiste. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ROBUST</title>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="10" >
  <link rel="shortcut icon" type="image/png" href="{% static 'images/ipr_logo.png' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
  <style>
  @-webkit-keyframes animate-width {
    0% {
      width: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @-moz-keyframes animate-width {
    0% {
      width: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes animate-width {
    0% {
      width: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @-webkit-keyframes animate-height {
    0% {
      height: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @-moz-keyframes animate-height {
    0% {
      height: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes animate-height {
    0% {
      height: 0;
    }
    100% {
      visibility: visible;
    }
  }
  #auto{
    background-color: #3b4150;
    font-family: arial, sans-serif;
    color: #cdcdcd;
  }

  #bar-chart {
    height: 100px;
    width: 70%;
    position: relative;
    margin: 67px auto 0 ;
  }
  #bar-chart * {
    box-sizing: border-box;
  }
  #bar-chart .graph {
    height: 120px;
    position: relative;
  }
  #bar-chart .bars {
    height: 101px;
    padding: 0 2%;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  #bar-chart .bar-group {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 40%;
    margin-right: 70%;
  }
  #bar-chart .bar-group:last-child {
    margin-right: 0;
  }
  #bar-chart .bar-group .bar {
    visibility: hidden;
    height: 0;
    -webkit-animation: animate-height;
    -moz-animation: animate-height;
    animation: animate-height;
    animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
    border: 1px solid #2d2d2d;
    border-radius: 13px 13px 0 0;
    bottom: 0;
    cursor: pointer;
    height: 0;
    position: absolute;
    text-align: center;
    width: 50%;
  }
  #bar-chart .bar-group .bar:nth-child(2) {
    left: 60%;
  }
  #bar-chart .bar-group .bar:nth-child(3) {
    left: 120%;
  }
  #bar-chart .bar-group .bar span {
    display: none;
  }
  #bar-chart .bar-group .bar-1 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }
  #bar-chart .bar-group .bar-2 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }
  #bar-chart .bar-group .bar-3 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  #bar-chart .bar-group .bar-4 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }
  #bar-chart .bar-group .bar-5 {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
  }
  #bar-chart .bar-group .bar-6 {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  #bar-chart .bar-group .bar-7 {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
  }
  #bar-chart .bar-group .bar-8 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
  #bar-chart .bar-group .bar-9 {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
  }
  #bar-chart .bar-group .bar-10 {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
  }
  #bar-chart .bar-group .bar-11 {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
  }
  #bar-chart .bar-group .bar-12 {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
  }
  #bar-chart .bar-group .bar-13 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
  }
  #bar-chart .bar-group .bar-14 {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
  }
  #bar-chart .bar-group .bar-15 {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
  }
  #bar-chart .bar-group .bar-16 {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
  }
  #bar-chart .bar-group .bar-17 {
    animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
  }
  #bar-chart .bar-group .bar-18 {
    animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;
  }
  #bar-chart ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #bar-chart .x-axis {
    bottom: -10px;
    position: absolute;
    text-align: center;
    width: 200%;
  }
  #bar-chart .x-axis li {
    float: left;
    margin-right: 0.05%;
    font-size: 11px;
    width: 6.7%;
  }
  #bar-chart .x-axis li:last-child {
    margin-right: 0;
  }
  #bar-chart .y-axis {
    position: absolute;
    text-align: right;
    width: 200%;
  }
  #bar-chart .y-axis li {
    border-top: 1px solid #4e5464;
    display: block;
    height: 25px;
    width: 50%;
  }
  /*Y-axis column */
  #bar-chart .y-axis li span {
    display: block;
    font-size: 11px;
    margin: -10px 0 0 -60px;
    padding: 0 10px;
    width: 40px;
  }
  #bar-chart .stat-1 {
    background-image: -webkit-linear-gradient(left, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
    background-image: linear-gradient(to right, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
  }
  #bar-chart .stat-2 {
    background-image: -webkit-linear-gradient(left, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
    background-image: linear-gradient(to right, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
  }/*
  red: #ff4500 #cf3a02
  green: #b8f123 #79a602
  blue: #00c5ff #0383a9*/
  #bar-chart .stat-3 {
    background-image: -webkit-linear-gradient(left, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
    background-image: linear-gradient(to right, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
  }
  </style>

</head>
<body style="text-align:center;" >

<div class="jumbotron text-center" style="margin-bottom:0;  background-image: url('{% static 'images/c8.png' %}');">
  <h1 style="color:BLUE;"><b>ROBUST</b></h1>
  <h4>Welcome to HPC Job Submission System</h4>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'josusy_app:auser_login' %}">Admin</a>
      </li>


      {% if user.is_active %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'josusy_app:user_login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

  <div class="container">
<div class="jumbotron" style="position: absolute; left:0; width:50%;">
	<h1 style="font-family:Consolas;"><b>Welcome to ROBUST</b></h1>

 <h5 style="font-family:Consolas;"> ROBUST provides user with the service to submit jobs on a Cluster with high computing power. A user can submit jobs on cluster with the help of specfic scheduler. A user can also view cluster working scenario, also the progress of ongoing jobs or pending jobs.</h5>
</div>
<div style="position:absolute; top:100%; left:0; width:50%; height:80%; border:3px solid #73AD21;">
<canvas id="doughnut-chart" width="1000" height="500" ></canvas>
  <script>
  new Chart(document.getElementById("doughnut-chart"), {
      type: 'doughnut',
      data: {
        labels: ["Idle ", "PI-Master ", "PI-01 ", "PI-02 ", "PI-03 "],
        datasets: [
          {
            label: "Population (millions)",
            backgroundColor: ["#6baa00", "#ff6347", "#6495ED","#ffa500", "#f72222"],
            data: [(400-(({{a1.16}}))-(({{a1.5}})*25)-(({{a1.9}})*25)-(({{a1.13}})*25))/4, (({{a1.16}}))/4, (({{a1.5}})*25)/4, (({{a1.9}})*25)/4, (({{a1.13}})*25)/4]
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Cluster usage at the moment ... '
        }
      }
  });
  </script>
</div>
<div id="auto" style="position: absolute; right:0; width: 50%; height:200%; border: 3px solid #73AD21;"></br>
<script>
	//var count = 0;
	document.write('<div id="bar-chart"><h4>PI-Master</h4>'+
  '<div class="graph">'+
    '<ul class="x-axis">'+
      '<li><span></br>CPU Usage</span></li>'+
      '<li><span> &nbsp &nbsp</span></li>'+
      '<li><span></br>RAM Usage</span></li>'+
      '<li><span> &nbsp &nbsp &nbsp &nbsp</span></li>'+
      '<li><span></br>Temperature</span></li>'+
    '</ul>'+
    '<ul class="y-axis">'+
      '<li><span>100</span></li>'+
      '<li><span>75</span></li>'+
      '<li><span>50</span></li>'+
      '<li><span>25</span></li>'+
      '<li><span>0</span></li>'+
    '</ul>'+
    '<div class="bars">'+
      '<div class="bar-group">'+
      '<div class="bar bar-1 stat-1" style="height:'+{{a1.16}}+'%;" title="'+{{a1.16}}+'%">'+
         ' <span>4080</span>'+
        '</div>'+
        '<div class="bar bar-2 stat-2" style="height:'+((1024-({{a1.3}}))*100/1024)+'%;" title="'+((1024-({{a1.3}}))*100/1024)+'%" >'+
          '<span>5680</span>'+
        '</div>'+
	'<div class="bar bar-3 stat-3" style="height:{{a1.17}}%;" title="{{a1.17}}`C">'+
          '<span>6099</span>'+
        '</div>'+
      '</div>'+
    '</div>'+
  '</div>'+
'</div>'+
'<div id="bar-chart"></br><h4>PI-01</h4>'+
  '<div class="graph">'+
    '<ul class="x-axis">'+
      '<li><span></br>CPU Usage</span></li>'+
      '<li><span> &nbsp &nbsp</span></li>'+
      '<li><span></br>RAM Usage</span></li>'+
      '<li><span> &nbsp &nbsp &nbsp &nbsp</span></li>'+
      '<li><span></br>Temperature</span></li>'+
    '</ul>'+
    '<ul class="y-axis">'+
      '<li><span>100</span></li>'+
      '<li><span>75</span></li>'+
      '<li><span>50</span></li>'+
      '<li><span>25</span></li>'+
      '<li><span>0</span></li>'+
    '</ul>'+
    '<div class="bars">'+
      '<div class="bar-group">'+
        '<div class="bar bar-1 stat-1" style="height:'+(({{ a1.5 }})*25)+'%;" title="'+(({{ a1.5 }})*25)+'%">'+
         ' <span>4080</span>'+
        '</div>'+
        '<div class="bar bar-2 stat-2" style="height:'+((1024-({{a1.7}}))*100/1024)+'%;" title="'+((1024-({{a1.7}}))*100/1024)+'%" >'+
          '<span>5680</span>'+
        '</div>'+
        '<div class="bar bar-3 stat-3" style="height:'+{{ a1.18 }}+'%;" title="'+{{ a1.18 }}+'`C">'+
          '<span>6099</span>'+
        '</div>'+
      '</div>'+
    '</div>'+
  '</div>'+
'</div>'+'<div id="bar-chart"></br></br><h4>PI-02</h4>'+
  '<div class="graph">'+
    '<ul class="x-axis">'+
      '<li><span></br>CPU Usage</span></li>'+
      '<li><span> &nbsp &nbsp</span></li>'+
      '<li><span></br>RAM Usage</span></li>'+
      '<li><span> &nbsp &nbsp &nbsp &nbsp</span></li>'+
      '<li><span></br>Temperature</span></li>'+
    '</ul>'+
    '<ul class="y-axis">'+
      '<li><span>100</span></li>'+
      '<li><span>75</span></li>'+
      '<li><span>50</span></li>'+
      '<li><span>25</span></li>'+
      '<li><span>0</span></li>'+
    '</ul>'+
    '<div class="bars">'+
      '<div class="bar-group">'+
        '<div class="bar bar-1 stat-1" style="height:'+(({{ a1.9 }})*25)+'%;" title="'+(({{ a1.9 }})*25)+'%">'+
         ' <span>4080</span>'+
        '</div>'+
        '<div class="bar bar-2 stat-2" style="height:'+((1024-({{a1.11}}))*100/1024)+'%;" title="'+((1024-({{a1.11}}))*100/1024)+'%" >'+
          '<span>5680</span>'+
        '</div>'+
        '<div class="bar bar-3 stat-3" style="height:'+{{ a1.19 }}+'%;" title="'+{{ a1.19 }}+'`C">'+
          '<span>6099</span>'+
        '</div>'+
      '</div>'+
    '</div>'+
  '</div>'+
'</div>'+'<div id="bar-chart"></br></br></br><h4>PI-03</h4>'+
  '<div class="graph">'+
    '<ul class="x-axis">'+
      '<li><span></br>CPU Usage</span></li>'+
      '<li><span> &nbsp &nbsp</span></li>'+
      '<li><span></br>RAM Usage</span></li>'+
      '<li><span> &nbsp &nbsp &nbsp &nbsp</span></li>'+
      '<li><span></br>Temperature</span></li>'+
    '</ul>'+
    '<ul class="y-axis">'+
      '<li><span>100</span></li>'+
      '<li><span>75</span></li>'+
      '<li><span>50</span></li>'+
      '<li><span>25</span></li>'+
      '<li><span>0</span></li>'+
    '</ul>'+
    '<div class="bars">'+
      '<div class="bar-group">'+
        '<div class="bar bar-1 stat-1" style="height:'+(({{ a1.13 }})*25)+'%;" title="'+(({{ a1.13 }})*25)+'%">'+
         ' <span>4080</span>'+
        '</div>'+
        '<div class="bar bar-2 stat-2" style="height:'+((1024-({{a1.15}}))*100/1024)+'%;" title="'+((1024-({{a1.15}}))*100/1024)+'%" >'+
          '<span>5680</span>'+
        '</div>'+
	'<div class="bar bar-3 stat-3" style="height:{{a1.20}}%;" title="{{a1.20}}`C">'+
          '<span>6099</span>'+
        '</div>'+
      '</div>'+
    '</div>'+
  '</div>'+
'</div>');
</script>
</br> </br></br></br></br></br></br>
<h3 style="color:white;">Node usage of PI!</h3>
</div>


  </div>


	<div class="jumbotron text-center" style="margin-bottom:0">
  <p style="font-size:small" >Copy Rights to ROBUST </p>
</div>


	</body>
</html>
