{% load staticfiles %}
<!DOCTYPE html>
<!-- This is user home page from where he/she can select how to process a job on the Cluster. -->
<html lang="en">
<head>
  <title>DOR-JoSuSy</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/ipr_logo.png' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>

</head>
<body style="text-align:center; background-image: url('{% static 'images/b2.jpg' %}'); background-repeat: no-repeat; background-attachment: fixed;" >
<div class="jumbotron text-center" style="margin-bottom:0;  background-image: url('{% static 'images/c8.png' %}');">

  <h1 style="color:white;"><b>DOR-JoSuSy</b></h1>
  <h4>Welcome to HPC Job Submission System</h4>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'SelectSubmissionType' %}">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
	      <a class="nav-link" href="{% url 'josusy_app:squeue' %}">Job Monitoring</a>
      </li>

      <li class="nav-item">
        <label class="nav-link" style="margin-left:900px;" >Hello, {{user}}</label>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
</br></br>
<div class="row">
<div class="col-sm-3"></br>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <label class="nav-link active">Previous access</label>
    </li>
    <li class="nav-item">{{ a.0 }}</li>
  </ul>
</br></br>
  <ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'changepassword' %}">Change Password</a>
  </li>
  </ul>
  </br></br>
  <ul class="nav nav-pills flex-column">
          <li class="nav-item">
	     <label class="nav-link active">Message Of The Day</label>
	  </li>
	  <li class="nav-item">{{ file_content }}</li>
  </ul>	
</div>
<div class="jumbotron" style="border-radius:10px;">
  <h1>How to process your job?</h1>
  <h4>Select the type of execution you prefer for your job to be executed!</h4>
  <form method="POST" action="">
    <!-- form12 is refrenced from views.py containing JobSubmissionType function. as_p is used to represent form as paragraph  -->
    <!-- csrf_token is a kind of bot-catcher. -->
    {% csrf_token %}
    {{ form12.as_p }}
    <input type="submit" name="" value="PROCEED" class='btn btn-primary' />
  </form>
</div>

</div>

  </div>
  

<!--	<div class="jumbotron text-center" style="margin-bottom:0">
  <p style="font-size:small" >Copy Rights to DOR-JoSuSy </p>
</div> -->


	</body>
</html>
