{% extends "users/base.html" %}


{% block title %} Heat_Diffusion {% endblock title%}


{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Heat Diffusion</h1>
    <h4 class="display-8">To display the transfer of heat from hot area to cold area in a 2D plane.</h4>
    
    <br>

    <form name="heat_diff_form" action="{% url 'heat_diffusion_output' %}" method="POST" target="_blank">{% csrf_token %}
      
      <fieldset>
        <legend>Parameters :</legend>

        <label for="job_name">Job name : </label>
        <input type="text" name="job_name" id="job_name">

        <br>

        <label for="nodes">No. of nodes : </label>
        <select name="nodes" id="nodes">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="4">3</option>
          <option value="4">4</option>
        </select>

        <br>

        <label for="ntasks_per_node">No. of tasks per node : </label>
        <select name="ntasks_per_node" id="ntasks_per_node">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>

        <br>

        <label for="grid_size">Grid size : </label>
        <select name="grid_size" id="grid_size">
          <option value="32">32</option>
          <option value="64" selected>64</option>
          <option value="128">128</option>
        </select>

        <br>

        <label for="source_temp">Source temperature ( &#x2103; ) : </label>
        <select name="source_temp" id="source_temp">
          <option value="20">20</option>
          <option value="40">40</option>
          <option value="60">60</option>
          <option value="80">80</option>
          <option value="100" selected>100</option>
          <option value="140">140</option>
          <option value="180">180</option>
          <option value="200">200</option>
        </select>

        <br>

        <label for="sink_temp">Sink temperature ( &#x2103; ) : </label>
        <select name="sink_temp" id="sink_temp">
          <option value="-20" selected>-20</option>
          <option value="-40">-40</option>
          <option value="-60">-60</option>
          <option value="-80">-80</option>
          <option value="-100">-100</option>
          <option value="-140">-140</option>
          <option value="-180">-180</option>
          <option value="-200">-200</option>
        </select>

        <br>

        <label for="tolerance">Tolerance : </label>
        <select name="tolerance" id="tolerance">
          <option value="0.1" selected>1e-1</option>
          <option value="0.01">1e-2</option>
          <option value="0.001">1e-3</option>
          <option value="0.0001">1e-4</option>
          <option value="0.00001">1e-5</option>
        </select>

        <br>

        <input type="submit" value="Submit">

      </fieldset>

    </form>

  </div>

{% endblock content %}