{% extends "users/base.html" %}
{% load static %}


{% block title %} Pi Estimate {{ job_name }} Output {% endblock title%}



{% block content %}

    <div class="jumbotron">

        <h1 class="display-4">Lorentz Force Output</h1>

        <br>

        <img id="output" src="{% static 'anim/lorentz_force/mul_pm.gif' %}" style="width:1000px; height:500px;" alt="Pi Estimate Output">


    </div>

{% endblock content %}