{% extends "users/base.html" %}


{% block title %} Pi Estimate {% endblock title %}


{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Pi Estimate</h1>
    <h4 class="display-8">To estimate the value of Pi using Monte Carlo approach.</h4>
    
    <br>

    <form name="pi_est_form" action="{% url 'pi_estimate_output' %}" method="POST" target="_blank">{% csrf_token %}
      
      <fieldset>
        <legend>Parameters :</legend>

        <label for="job_name">Job name : </label>
        <input type="text" name="job_name" id="job_name">

        <br>

        <label for="nodes">No. of nodes : </label>
        <select name="nodes" id="nodes">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="4">3</option>
          <option value="4">4</option>
        </select>

        <br>

        <label for="ntasks_per_node">No. of tasks per node : </label>
        <select name="ntasks_per_node" id="ntasks_per_node">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>

        <br>

        <label for="num_points_pow_2">No. of points : </label>
        <select name="num_points_pow_2" id="num_points_pow_2">
          <option value="19">2^19</option>
          <option value="18" selected>2^18</option>
          <option value="17">2^17</option>
          <option value="16">2^16</option>
          <option value="15">2^15</option>
          <option value="14">2^14</option>
        </select>

        <br>

        <input type="submit" value="Submit">

      </fieldset>

    </form>

  </div>

{% endblock content %}